<!-- Page Content -->
<div>
    <h2>Login</h2>
    <form (ngSubmit)="onClickSubmit($event)">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="userName" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div *ngIf="error" class="error">{{ error }}</div>
      <button type="submit">Login</button>
    </form>
  </div>
  