        <div class="login-page">
          <div class="form">
            <form class="login-form" (ngSubmit)="onClickSubmit()">
              <img src="logo.png" alt="LayOns" class="logo">
              <h1>Log in to your account</h1>
              <input type="text" id="username" name="username" placeholder="User Name" [(ngModel)]="userName" required/>
              <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required/>
              <button type="submit">Log in</button>
              <div *ngIf="error" class="message">{{ error }}</div>
            </form>
          </div>
        </div>
