.profile-container {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.profile-field {
  margin: 10px 0;
}

.label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
}

.value {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
}

.resume-link {
  color: #007bff;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin: 20px 10px 10px 0;
  padding: 10px 20px;
}

button:hover {
  background-color: #0062cc;
}

/* profile-page.component.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a.active {
  border-bottom: 2px solid #fff;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
}

.navbar-buttons button {
  margin-left: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-buttons button:hover {
  background-color: #eee;
}
