<header class="navbar">
  <nav>
    <ul>
      <!--<li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>-->
      <h1>Profile Page</h1>
    </ul>
  </nav>
  <div class="navbar-buttons" >
    <button (click)="onClickProfile()">Profile</button>
    <button (click)="onLogout()">Logout</button>
    <button (click)="onClickCreateJobs()">Create Jobs</button>
  </div>
</header>

<p>search works!</p>
<input [formControl]="queryControl" />
<ul>
  <li *ngFor="let result of searchResults; index as i">
    <div class="job-name">
      <span
        *ngFor="let ch of result[0].target.split(''); index as j"
        [ngClass]="{ highlighted: hlIndices[i].includes(j) }"
        >{{ ch }}</span
      >
      <span><a [href]="jobURLs[i]">Apply</a></span>
    </div>
  </li>
</ul>
