
<header class="topnav">
  <div class="topnav">
    <h3>Search</h3>
    <a (click)="onClickProfile()">Profile</a>
    <a (click)="onClickCreateJobs()">Create Jobs</a>
    <a (click)="onLogout()">Logout</a>
  </div>
</header>

<p>search works!</p>
<input [formControl]="queryControl" />
<ul>
  <li *ngFor="let result of searchResults; index as i">
    <div class="job-name">
      <span
        *ngFor="let ch of result[0].target.split(''); index as j"
        [ngClass]="{ highlighted: hlIndices[i].includes(j) }"
        >{{ ch }}</span
      >
      <span><a [href]="jobURLs[i]">Apply</a></span>
    </div>
  </li>
</ul>
