.job-container {
  background-color: #E1E1E1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100% auto;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box; 
}

.job-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  text-align: left;
}

html, body {
    background-color: #152733;
    overflow: hidden;
}

.field {
  margin: 10px 0;
}

.label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  width: 150px;
}

.value {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
}

.btn-primary{
  background-color: #495056;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: green;
  outline: none !important;
  border: none !important;
   box-shadow: none;
}

.btn-applied{
  background-color: gray;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-applied:hover, .btn-applied:focus, .btn-applied:active{
  background-color: gray;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.topnav {
  background-color: #152733;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04AA6D;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav h3 {
  display: inline-block;
  margin-right: 20px;
  color: white;
  margin-left: 20px;
}

