<!-- profile-page.component.html -->

<!-- profile-page.component.html -->
<header class="topnav">
  <div class="topnav">
    <h3>Profile</h3>
    <a (click)="onLogout()">Logout</a>
    <a (click)="onClickEdit()">Edit Profile</a>
    <a (click)="onClickSearch()">Jobs</a>
    <a (click)="onClickCreateJobs()">Create Jobs</a>
  </div>
</header>

<div class="profile-container" style="margin-top: 100px;">
  <div class="profile-field">
    <span class="label">First Name:</span>
    <span class="value">{{ profile.firstName }}</span>
  </div>

  <div class="profile-field">
    <span class="label">Last Name:</span>
    <span class="value">{{ profile.lastName }}</span>
  </div>

  <div class="profile-field">
    <span class="label">Email:</span>
    <span class="value">{{ profile.email }}</span>
  </div>

  <div class="profile-field">
    <span class="label">Location:</span>
    <span class="value">{{ profile.location }}</span>
  </div>

  <div class="profile-field">
    <span class="label">Skills:</span>
    <span class="value">{{ profile.skills }}</span>
  </div>

  <div class="profile-field">
    <span class="label">Resume:</span>
    <span class="value">
      <a class="resume-link" href="{{ profile.resume }}" target="_blank">{{isresumeuploaded()}}</a>
    </span>
  </div>
</div>
<!--
<button (click)="onclickedit()">Edit Profile</button>
<button (click)="onlogout()">Logout</button>-->
<router-outlet></router-outlet>
